/* General Styles */
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

a {
    color: #bb86fc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* Navigation bar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e;
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
}

.navbar h1 {
    font-size: 24px;
    color: #af60ff;
    margin-top: -10px; /* Move the h1 up by 10px */
    margin-bottom: 0; /* Ensure no extra space below the h1 */
}

/* Style for navigation links */
.navbar nav ul {
    display: flex;
    gap: 20px;
    list-style: none; /* Remove bullets */
}

.navbar nav ul li a {
    color: #af60ff;
    text-decoration: none;
    font-size: 18px;
}

.navbar nav ul li a:hover {
    text-decoration: underline;
}

.subtitle {
    font-size: 18px;
    color: #af60ff;
    text-align: left;
    margin-left: 20px;
    margin-top: -35px;
    margin-bottom: 0;
}




/* Media Queries for responsive design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack header vertically */
        align-items: flex-start;
    }

    .navbar nav ul {
        flex-direction: column;
        width: 100%; /* Take up full width on mobile */
        gap: 10px; /* Reduce gap for mobile */
    }

    .navbar nav ul li a {
        font-size: 16px; /* Reduce font size for smaller screens */
    }

    .subtitle {
        font-size: 16px; /* Adjust subtitle size for mobile */
        text-align: left;
        margin-left: 0;
    }
}



/* About Section */
#about {
    text-align: center;
    padding: 2em;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0;
}

/* Sections */
section {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
}

section h2 {
    color: #bb86fc;
    border-bottom: 2px solid #bb86fc;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

/* Projects */
.project {
    background-color: #1f1f1f;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth animation */
}

.project:hover {
    transform: scale(1.05); /* Slightly increase the size */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}

.project h3 {
    color: #bb86fc;
    margin-top: 0;
}



/* Contact */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5em;
}

ul li a {
    color: #bb86fc;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}



/* Footer */
footer {
    background-color: #1f1f1f;
    color: #666;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

footer p {
    margin: 0;
}
